.note-list {
    background-color: #f0f0f0; /* Arka plan rengi (açık gri) */
    padding: 20px;
    border-radius: 5px; /* Köşelerin yuvarlatılması */
}

.note-list h2 {
    color: #333; /* Başlık rengi (koyu gri) */
    margin-bottom: 20px;
}

.note-list ul {
    list-style: none; /* Madde işaretlerini kaldırma */
    padding: 0;
}

.note-list li {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee; /* Alt çizgi */
    padding: 10px;
}

.note-item {
    display: flex; /* Not öğelerini yatay olarak sıralayın */
    justify-content: space-between; /* Not öğelerini iki uca da hizalayın */
    align-items: center; /* Not öğelerini dikey olarak ortalayın */
}

.note-item p {
    margin: 0;
    font-size: 16px; /* Yazı tipi boyutu */
}

.note-item button {
    background-color: #740c0c; /* Silme düğmesi rengi (yeşil) */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.note-item button:hover {
    background-color: #801919; /* Hover efekti (daha koyu yeşil) */
}

.note-item button i {
    font-size: 18px; /* Silme simgesi boyutu */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
     background-color: #fff;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 20px 40px;
     border-radius: 5px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     max-width: 600px;
     width: 400px;
 }

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.modal-header h2 {
    margin: 0;
}

.modal-header button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0 10px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.edit-form input,
.edit-form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-form textarea {
    height: 150px;
    resize: vertical;
}

.edit-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.edit-buttons button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.edit-buttons button:hover {
    opacity: 0.8;
}